backcall 
backports.functools-lru-cache 
block.bootstrap.pytorch==0.1.6
bootstrap.pytorch==0.0.13
Bottleneck 
brotlipy==0.7.0
cached-property 
certifi==2022.5.18.1
cffi 
charset-normalizer 
click==8.1.3
cryptography 
cycler==0.11.0
debugpy 
decorator 
entrypoints 
fonttools==4.33.3
h5py 
idna 
importlib-metadata==4.11.4
ipdb==0.13.9
ipykernel 
ipython 
jedi 
jupyter-client 
jupyter-core 
kiwisolver==1.4.2
matplotlib==3.5.2
matplotlib-inline 
mkl-fft==1.3.1
mkl-random 
mkl-service==2.4.0
munch==2.5.0
nest-asyncio 
numexpr 
numpy 
opencv-python==4.5.5.64
packaging 
pandas==1.3.5
parso 
pexpect 
pickleshare 
Pillow==9.0.1
plotly==5.8.0
pretrainedmodels==0.7.4
prompt-toolkit 
protobuf==3.20.1
psutil 
ptyprocess 
pycparser 
Pygments
pyOpenSSL 
pyparsing 
PySocks 
python-dateutil 
pytz==2021.3
PyYAML==6.0
pyzmq 
requests 
scipy==1.7.3
seaborn==0.11.2
six 
skipthoughts==0.0.1
tabulate==0.8.9
tenacity==8.0.1
tensorboardX==2.5
toml==0.10.2
torch==1.11.0
torchaudio==0.11.0
torchvision==0.12.0
tornado
tqdm==4.64.0
traitlets 
typing_extensions 
urllib3 
wcwidth
zipp==3.8.0